<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{HH:mm:ss.SSS} [%t] %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=green bold, TRACE=blue} %logger{36} - %msg%n"
        </Property>
    </Properties>
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <File name="file" fileName="logs/log4j2.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
    </appenders>

    <loggers>
        <root level="info">
            <appender-ref ref="console" level="info"/>
            <appender-ref ref="file" level="warn"/>
        </root>
        <logger name="com.gargoylesoftware" level="fatal"/>
    </loggers>
</configuration>